/* Импортируем стили из папки styles */

@import "styles/footer.css";
@import "styles/gallery.css";
@import "styles/connect.css";
@import "styles/pult.css";
@import "styles/mode.css";
@import "styles/header.css";
@import "styles/main.css";
@import "styles/banner.css";
@import "styles/carousel.css";
@import "styles/delivery.css";
@import "styles/features.css";

@font-face {
  font-family: "Inter";
  src: url("./font/Inter-VariableFont_opsz\,wght.ttf");
}

:root {
  --main-color: #0078ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Roboto", "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100vw;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;
  padding: 16px;
  max-width: 1440px;
  margin: auto;
}

p {
  font-size: 20px;
}

button {
  cursor: pointer;
}

h1,
h2 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 32px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  margin-top: 8px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section {
  width: 100%;
  padding: 16px;
}

.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 16px;
  justify-items: center;
  margin-top: 16px;
}

/* Оставил цвета, если захотите раскрасить карточки */

/* .card:nth-child(1) {
  background: #ff7d7d;
}
.card:nth-child(2) {
  background: #fff387;
}
.card:nth-child(3) {
  background: #67b563;
}
.card:nth-child(4) {
  background: #c17823;
}
.card:nth-child(5) {
  background: #6186ff;
}
.card:nth-child(6) {
  background: #ff8ad4;
} */

/* .card:hover {
  transform: translateY(-8px);
  box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
} */

.obs {
  width: 80%;
  margin-top: 16px;
}

.banner-full-width {
  background: #195223;
  text-align: center;
  color: #fff;
}

@media (max-width: 600px) {
  h1,
  h2,
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 14px;
  }

  .card__container {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    grid-column: 1 / 3;
    height: 102px;
  }
}
