.pult__container {
  min-height: 674px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px;
}

.pult__image {
  width: 100%;
}

.pult__title {
  font-size: 48px;
  font-weight: 400;
  color: #2b2a29;
}

.pult__features__list {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pult__features__list div {
  display: flex;
  gap: 16px;
}

.pult__features__list img {
  width: 72px;
  height: 72px;
}
